{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
{{ object.title }}
    {% if object.author.id  %}
    <a href="{% url 'public_profile' object.author.id %}">{{ object.author }}</a>
    {% endif %}
<p>{{ object.short_description }}</p>
    <img src="{% static 'images/image_2022-10-16_23-08-05_lxFyzdm.png' %}">
<p>{{ object.text }}</p>
    <h4>Comments</h4>
{% for comment in object.comment_set.all %}
    {{ comment.username }}
    <p>{{ comment }}</p>
{% endfor %}
<p><a href="{% url 'comment_view' object.id %}">Leave comment</a></p>
{% endblock %}
</body>
</html>