{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
{{ post.title }}
    {% if post.author.id  %}
    <a href="{% url 'public_profile' post.author.id %}">{{ post.author }}</a>
    {% endif %}
<p>{{ post.short_description }}</p>
    <img src="{{ post.image.url }}" alt="img" width="400" height="250">
<p>{{ post.text }}</p>


    <h4>Comments</h4>
{% for comment in contacts %}
    {{ comment.username }}
    <p>{{ comment }}</p>
{% endfor %}
<p><a href="{% url 'comment_view' post.id %}">Leave comment</a></p>
    <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
</body>
</html>